/**
 * ptc_assistant.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

.form-item {
  margin-top: 0;
  margin-bottom: 0;
}
 
/* Brother Edit form */

fieldset.brother-info {
  display: block;
}

div.form-item-brother-fname,
div.form-item-brother-mname,
div.form-item-brother-lname {
  display: inline-block;
}
 
div.form-item-city,
div.form-item-state,
div.form-item-zipcode {
   display: inline-block;
}

div.cong-resp-elder-ms,
div.cong-resp-outgoing,
div.cong-resp-cong,
div.cong-resp-col-1,
div.cong-resp-col-2,
div.cong-resp-col-3,
div.cong-resp-col-4 {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
}

div.availibility-col-1,
div.availibility-col-2,
div.availibility-col-3 {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
}

div.comments-col-1,
div.comments-col-2 {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
}
